/* eslint-disable */
// noinspection SpellCheckingInspection,JSUnusedGlobalSymbols

const requests = {
    playlists: [
        // A normal playlist.
        { id: 'PLabcdebfghijklmnopqrstuvwxyz12345' },
        // A normal playlist, but all the videos instead of just the most recent ones.
        { id: 'PL12345abcdebfghijklmnopqrstuvwxyz', retrieveAll: true },
        // A channel playlist.
        { id: 'UULFabcdebfghijklmnopqrstu' },
        // You can get all the videos for a channel too, if you want. There's really no difference between the playlist types.
        { id: 'UULFqrstuabcdebfghijklmnop', retrieveAll: true },
    ],
    videos: [
        // If you want to add individual videos to your list, put their IDs here. No other options (for now).
        { id: 'aB3dE6gH9jK' }
    ],
];
